{% extends 'base.html.twig' %}

{% block title %}Edit Course / StudyOn{% endblock %}

{% block body %}
<div class="row justify-content-center mt-5 mb-5">
    <div class="col-5 d-flex flex-column">
        <h1>{{ course.name }}</h1>

        {% if errors is defined %}
            <div class="alert alert-danger">
                {{ errors }}
            </div>
        {% endif %}
        {{ include('course/_form.html.twig') }}
        <div class="line mt-4 mb-4"></div>
        {{ include('course/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
