{% extends 'base.html.twig' %}

{% block title %}New lesson / {{ lesson.course.name}} / StudyOn{% endblock %}

{% block body %}
    <h1>Create new Lesson</h1>

    {{ include('lesson/_form.html.twig') }}

{% endblock %}
